.view-id-program li {
  position: relative;
  flex-grow: 1;
  margin: 2vh 0;
}

.view-id-program ul li:nth-of-type(1){
  width: 100%;
}

.view-id-program li h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 1;

  text-align: center;
  font-size: 3rem;

}

.view-id-program li h2 a {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background: rgb(41,86,143);
  background: linear-gradient(30deg, rgba(41,86,143,1) 0%, rgba(85,85,85,0.36) 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.view-id-program li h2 a span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.view-id-program .page_title h1 {
  display: none
}
.view-id-program ul{
  padding: 0;
  margin: 8vh 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0 5vh;
}

.view-id-program ul li .field--name-field-front-page-image{
  margin-bottom: 0;
}

.-program+div+div img {
margin-top: 5vh;
border-radius: 5px;
box-shadow: 0 10px 14px 3px rgba(0,0,0,.29);
max-height: 82vh;
}


@media (orientation: landscape) {
  .-program + div + div .field--items {
    display: flex;
    gap: 2vh;
    flex-wrap: nowrap;
    width: 92%;
    margin: 0 auto;
  }
}

@media (orientation: portrait) {
  .-program + div +.field--name-field-basic-page-images{
    display: none;
  }
}

.-program .page-node-type-page .page_title .field--label { //targets the title on the page program
  background: linear-gradient(30deg, #D39100 10%, #5555 100%);
}

.views-row h2 a[href$="program"] { //tarets the frontpage teaser for the page program
  background: linear-gradient(30deg, #D39100 10%, #5555 100%);
}
