/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

 /*IMPORTS --General css*//*
@import url(bootstrap.css);
@import url(font.css);
@import url(subpage.css);
@import url(frontpage.css);
@import url(footer.css);
*/
/*IMPORTS --page specific *//*
@import url(utmarkelser.css);
@import url(contact.css);
@import url(events.css);
@import url(navbar.css);
@import url(omoss.css);
@import url(uf.css);
@import url(samverkanforetag.css);
@import url(textblock.css);
@import url(program.css);
*/
body { /*styles the body on all pages*/
  background:#E8E8E8;
}

.-foretag .page-node-type-page .page_title .field--label { /*styles för företag header*/
  background: linear-gradient(30deg, #D39100 10%, #5555 100%);
}

.view-content .views-row h2 a[href$="/foretag"] { /*styles the för föreatag teaser on frontpage*/
  background: linear-gradient(30deg, #D39100 10%, #5555 100%);
}


/*Styling för bild (För företag)*/
.-foretag + div img {
  box-shadow: 0px 10px 14px 3px rgba(0, 0, 0, 0.29);
  border-radius: 5px;
}
