/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
@import url(bootstrap.css);
@import url(subpage.css);
@import url(frontpage.css);
@import url(contact.css);
@import url(events.css);
@import url(navbar.css);
@import url(omoss.css);
@import url(footer.css);
@import url(uf.css);


body {
  background:#E8E8E8;
}

@font-face {
  font-family: Arial_GEO;
  src: url(../typsnitt/Arial_GEO.TTF);
}
