/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
@import url(bootstrap.css);

body {
  background:#E8E8E8;
}

@font-face {
  font-family: Arial_GEO;
  src: url(../typsnitt/Arial_GEO.TTF);
}
